<div class="row detail">
  <h3> {{model.name}}</h3>
  <br/>
    <div ng-if="model.basedNear.indexOf('dbpedia') > -1">
        Based near: <a ng-href="{{model.basedNear}}" target="_blank">{{model.basedNear}}</a>
    </div>
    <div ng-if="model.basedNear.indexOf('dbpedia') === -1">
        Based Near: {{model.basedNear}}
    </div>
    <br/>
    <img src={{model.depiction}} align="right"/>
    <div ng-if="model.mbox.indexOf('mailto') > -1">
        <a ng-href="{{model.mbox}}">Email this person</a>
    </div>
    <div ng-if="model.mbox.indexOf('mailto') === -1">
        Email address: No details provided
    </div>
    <br/>
    Papers:
  <ul>
      <li ng-repeat="data in model.confData">
        <a ng-href="/paper?iri={{data.pub}}">{{data.title}}</a>
         Coauthor: <a ng-href="/person?iri={{data.coauthor}}">{{data.coauthorname}}</a>
      </li>
  </ul>
  <br/>
  View triples for <a ng-href="/triples?iri={{model.person}}">{{model.name}}</a>
</div>