<div class="row detail" ng-show="model.user.authenticated">
  <h3> {{model.name}}</h3>
  <br/>
    <div ng-if="model.basedNear.indexOf('dbpedia') > -1">
        Based near: <a ng-href="{{model.basedNear}}" target="_blank">{{model.basedNear}}</a>
    </div>
    <div ng-if="model.basedNear.indexOf('dbpedia') === -1">
        Based Near: {{model.basedNear}}
    </div>
    <br/>
    <img src={{model.depiction}} align="right"/>
    <div ng-if="model.mbox.indexOf('mailto') > -1">
        <a ng-href="{{model.mbox}}">Email this person</a>
    </div>
    <div ng-if="model.mbox.indexOf('mailto') === -1">
        Email address: No details provided
    </div>
    <br/>
    <h4>Roles:</h4>
    <ul>
        <li ng-repeat="role in model.roles">
            <a ng-href="/triples?iri={{role.role}}">{{role.role}}</a> at <a ng-href="/triples?iri={{role.conf}}">{{role.confname}}</a>
        </li>
    </ul>
    <br/>
    <div ng-if="model.paperDetails.length > 0">
    <h4>Papers:</h4>
      <ul>
          <li ng-repeat="detail in model.paperDetails">
            <a ng-href="/paper?iri={{detail.iri}}">{{detail.title}}</a>
             <br/>
              Coauthor(s)
              <div ng-repeat="author in detail.authors">
                <a ng-href="/person?iri={{author.iri}}">{{author.name}}</a>
              </div>
          </li>
      </ul>
    </div>
  <br/>
  View triples for <a ng-href="/triples?iri={{model.person}}">{{model.name}}</a>
</div>