<div class="row detail">
  <h3>Triples for {{model.iri}}</h3>

  <ul>
      <!-- TODO: make this a link only if it contains http:// -->
      <li ng-repeat="triple in model.triples">

        <div ng-if="triple.o.indexOf('data.semanticweb.org') > -1">
            {{triple.p}} : <a ng-href="/triples?iri={{triple.o}}">{{triple.o}}</a>
        </div>
        <div ng-if="triple.o.indexOf('data.semanticweb.org') === -1">
            {{triple.p}} : {{triple.o}}
      </li>
  </ul>

</div>

<section class="comments col-md-12">
    <h3>Comments</h3>
    <add-comment add-model="model.additionalComment.msg" authenticated="model.user.authenticated" save="addComment(model.additionalComment)"></add-comment>
    <article class="comment" ng-repeat="comment in model.demo.comments | orderBy:'-dateTime'" data-id="{{comment.id}}">
        <h4>Comment by {{comment.username}}</h4>
        <p class="dateTime">on {{comment.dateTime}}</p>
        <editable enabled="model.user.authenticated && model.user.name === comment.username" edit-model="comment.msg" edit-type="textarea" save="updateItemInArray('comment', comment.id, 'msg', comment.msg)"/>
    </article>
</section>