<div class="row detail">
  <!-- display JSON data -->
  <P>Triples!!</p>
  <!-- <json-explorer json-data="{{model.detail}}"></json-explorer> -->

  <ul>
      <li ng-repeat="triple in model.triples">
        {{triple.p}} :
	    <a ng-href="/triples?iri={{triple.o}}">{{triple.o}}</a>
      </li>
  </ul>

</div>

<section class="comments col-md-12">
    <h3>Comments</h3>
    <add-comment add-model="model.additionalComment.msg" authenticated="model.user.authenticated" save="addComment(model.additionalComment)"></add-comment>
    <article class="comment" ng-repeat="comment in model.demo.comments | orderBy:'-dateTime'" data-id="{{comment.id}}">
        <h4>Comment by {{comment.username}}</h4>
        <p class="dateTime">on {{comment.dateTime}}</p>
        {{comment.msg}}
    </article>
</section>